@import "../../../styles/variables.scss";

$number_title_lines: 2;
$number_desc_lines: 3;

.cardContainer {
  border: 1px solid $text-color;
  border-radius: 10px;
  width: 300px;
  margin: 10px;
}

.contentContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 20px;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: $number_title_lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: $number_title_lines;
  line-height: 1.5em;
  height: calc(1.5em * $number_title_lines);
  min-height: calc(1.5em * $number_title_lines);
}
.imgContainer {
  height: 300px;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  overflow: hidden;
  background-color: red;
}
.cardImg {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.price {
  margin: 10px 0;
  background-color: rgba($primary-color, 0.2);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  color: $text-color;
}

.category {
  background-color: $primary-color;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  color: $text-color;
  font-size: 10px;
  color: $off-white;
  margin: 5px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: $number_desc_lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: $number_desc_lines;
  line-height: 1.5em;
  height: calc(1.5em * $number_desc_lines);
  min-height: calc(1.5em * $number_desc_lines);
}
