<div class="cardContainer">
  <div class="imgContainer">
    <img [src]="product.image" alt="product image" class="cardImg" />
  </div>
  <div class="contentContainer">
    <h1>{{ product.title }}</h1>
    <p class="price">${{ product.price }}</p>
    <p class="description">{{ product.description }}</p>
    <div class="flex-row justify-between align-center">
      <div>
        <p-rating
          [ngModel]="roundRate(product.rating.rate)"
          [readonly]="true"
          iconCancelClass="hidden"
        />
      </div>
      <p class="category">{{ product.category }}</p>
    </div>
  </div>
</div>
