<div class="wrapper">
  <div class="container">
    <h1>Login</h1>
    <form [formGroup]="loginForm">
      <input
        type="email"
        formControlName="email"
        class="input-field"
        placeholder="Email"
        required
      />
      <input
        type="password"
        class="input-field"
        placeholder="Password"
        required
        formControlName="password"
      />
      <a href="#" class="registerBtn">Register</a>
      <button type="button" class="btn" (click)="onSubmit()">Login</button>
    </form>
  </div>
</div>
